/* App.css */

/* Header & Body */
header {
  text-align: center;
  padding: 2px;
  background-image: linear-gradient(to bottom, #2c3037, #000000); /* Gradient from Gold to Black */
  border-bottom: 3.5px solid black;
}

.title {
  font-family: cursive;
  font-size: 4em;
  background-image: linear-gradient(to bottom, #d1e389, #ffffff); /* Gradient from Light Green to White */
  color: #e22a22;
  margin: 0px;
  display: inline-block;
  border: 4px solid #000;
  border-radius: 10px;
  padding: 10px;
}

.author-info {
  padding: 15px;
  border-bottom: 4px solid #000;
  background-image: linear-gradient(to bottom, #ffefd5, #ffffff); /* Gradient from Papaya Whip to White */
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  display: inline-block;
  margin-bottom: 10px;
}

html{
  height:100%;
}

body {
  font-family: 'Pacifico', cursive;
  background-image: linear-gradient(to bottom, #3ea2af, #ffffff);
  margin: 0;
  padding: 0;
}

/* Sections */
.userSection {
  background-image: linear-gradient(to bottom, #3cb1b1, #ffffff); /* Gradient from Pale Turquoise to White */
  border: 2px solid black;
}

.userButtons {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 10px;
  border-radius: 5px; /* Add border radius for rounded corners */
  font-size: 1.1em;
}

.toggleInfoSection {
  cursor: pointer;
  font-size: 1.6em;
  font-family: monospace;
}

.toggleBar {
  width: 100%;
  max-height: 100%; /* Adjust the height as needed */
  background-color: #f8f8ff; /* Set the color of the toggle bar */
  font-size: 1.8em;
  align-items: center;
}

.toggleBar:hover {
  background-color: #f8f8ffbd; /* Darker orange on hover */
}

.toggleText {
  font-size: 0.8em;
  flex-grow: 1;
}


.contentSection {
  background-image: linear-gradient(to bottom, #f8f8ff, #ffffff); /* Gradient from White to White */
  overflow: hidden;
  background-color: #f8f8ff;
  max-height: 100%;
}


.createChallengeSection {
  background-image: linear-gradient(to bottom, #f5deb3, #ffffff); /* Gradient from Moccasin to White */
  text-align: center;
  padding: 20px;
  border: 3.5px solid black;
}


/* Input Styles */
label {
  display: inline-block;
  width: 95px;
  border: 3px solid black;
  border-right: none;
  padding: 8px;
  font-size: 1.1em;
  background-color: #fff;  
  margin-top: 5px;
}

input {
  border: 3px solid black;
  padding: 8px;
  font-size: 18px;
  font-family: 'Comic Sans MS', Comic;
  background-color: #ffdead; /* Navajo White */
  margin-top: 5px;
}


/* ChessChallengesTable Styles */
table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  border: 3px solid #000;
}

th {
  border: 2px solid #000;
  background-color: #219dc7; /* Light Blue */
  color: #000;
  padding: 15px;
  font-size: 25px; /* Set your desired font size here */
}

td {
  padding: 10px;
  border-right: 2px solid #3498db;
  border-bottom: 2px solid #3498db;
  font-size: 20px;
}

tbody tr {
  background-color: #f5f5f5; /* White Smoke */
}

tbody tr:nth-child(even) {
  background-color: #fafafa; /* Light Gray */
}

tbody tr:hover {
  background-color: #dcdcdc; /* Gainsboro */
}


/* Components */
.textOutliner {
  padding: 10px 20px;
  border: 2px solid black;
  color: white;
  border-radius: 5px
}

.smallHeader {
  padding: 5px 20px;
  font-size: 30px;
  background-color: #ffffe0; /* Light Yellow */
  display: inline-block;
  border: 2px solid black;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  border-radius: 3px
}

.highlightedText {
  background-color: #f0f0f0; /* Light Gray */
  padding: 2%;
  display: inline-flex;
  border: 3px solid black;
  border-radius: 3px;
  text-align: center
}

.infoBox {
  padding: 1% 10%;
  font-size: 30px;
  background-color: #cbcb2ed6; /* Light Yellow */
  display: inline-block;
  border: 2px solid black;
  border-radius: 7px;
  font-size: 20px;
}

.infoBox:hover {
  background-color: #d3d3be; /* Light Yellow */
}

.close {
  color: #000000;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: orange;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px; /* Adjust the width as needed */
}

.hover {
  position: absolute;
  top: 75%;
  left: 110%;
  height: 50%;
  background-color: white;
  padding: 15px 20px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000
}


/* Modals */
.modal {
  display: inline-block;
  padding: 8px 15px;
  margin-top: 10px;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.modalUser {
  background-color: #2ee7a6; /* Light Coral */
  margin-left: 20px; 
}

.modalCreate {
  width: 700px;
  height: 100%;
}

.modalLogin {
  width: 450px;
  height: 100%;
}

.modalChallenge {
  background-color: #87ceeb; /* Sky Blue */
}



/* Styles & Designs */
.warning {
  color: #ff6347;
}

.important {
  color: rgb(0, 89, 255);
}

.available {
  background-color: #008080; 
}

.accepted {
  background-color: Purple;
}

.highlight {
  background-color: #fbff00;
}

.notification-error {
  background-color: rgb(226, 63, 42);
}

.notification-success {
  background-color: green;
}


/* User Details Box*/
.detail {
  padding: 20px 35px;
  border-radius: 5px;
  border: 4px solid #000;
  font-size: 1.1em;

  display: inline-block; 
  white-space: nowrap;
  transform: translateX(-100px);
}

.detail-box {
  border-right: 1px solid #000;
  background-color: #f5deb3; /* Moccasin */
}

.detail-value {
  border-left: 1px solid #000;
  background-color: #ffefd5; /* Papaya Whip */
}


/* Buttons */
button {
  font-family: Bradley Hand, cursive;
  font-size: 1.1em;
  
  padding: 10px 20px; /* Slightly reduce padding */
  border: 2px solid black; /* Remove border */
  border-radius: 5px; /* Add border radius for rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for color change */
  white-space: nowrap
}

.createChallengeButton {
  background-color: #008080; /* Teal */
  color: #fff; 
  padding: 10px; 
}

.resetButton {
  background-color: rgb(4, 191, 4);
  color: #fff; 
}

.resetButton:hover {
  background-color: rgb(2, 138, 2);
}

.logButton {
  background-color: #7fffd4; /* Aquamarine */
  margin-left: 50px; 
  color: #0d31c0; 
}

.logButton:hover {
  background-color: #00a1bd; /* Darker orange on hover */
}

.createProfButton {
  background-color: #ffa500; /* Orange */
  color: #0d31c0; /* White text color for better contrast */
}

.createProfButton:hover {
  background-color: #ff7f00; /* Darker orange on hover */
}

.submitButton {
  background-color: #3498db; /* Dodger Blue */
  color: #ffffff;
  margin-top: 10px;
}

.acceptButton {
  background-color: #a52a2a; /* Brown */
  color: #fff; 
}

.deleteButton {
  background-color: #c81515; /* Brown */
  color: #fff; 
}

.cancelButton {
  background-color: hsl(202, 6%, 62%); /* Brown */
  color: #fff; 
}

.generateButton {
  background-color: #c65922; /* Dark Orange */
  color: #fff; 
}